bcrypt==4.0.1
cachelib==0.9.0
cffi==1.15.1
click==8.1.3
cmdkit==2.6.1
colorama==0.4.6
commonmark==0.9.1
cryptography==39.0.2
Deprecated==1.2.13
dnspython==2.3.0
email-validator==1.3.1
Flask==2.2.3
Flask-Caching==2.0.2
Flask-HTTPAuth==4.7.0
Flask-Limiter==3.3.1
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
greenlet==2.0.2
gunicorn==20.1.0
idna==3.4
importlib-resources==5.12.0
install==1.3.5
itsdangerous==2.1.2
Jinja2==3.1.2
limits==3.3.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mdurl==0.1.2
names-generator==0.1.0
ordered-set==4.1.0
packaging==23.0
Pillow==10.0.0
pycparser==2.21
Pygments==2.14.0
PyMySQL==1.0.2
rich==12.6.0
shellingham==1.5.0.post1
SQLAlchemy==2.0.7
typer==0.7.0
typing_extensions==4.5.0
Werkzeug==2.3.3
wrapt==1.15.0
WTForms==3.0.1
