<div class="form-group col-sm-10 offset-sm-1">
    <input type="text" class="form-control" id="filter" placeholder="Search...">
</div>

<table class="border border-round border-dark table table-light table-striped table-hover">
    <thead style="cursor: pointer;">
        <tr>
            <th data-sort="position">POSITION</th>
            <th data-sort="teamname">TEAM NAME</th>
            <th data-sort="players">NUM. PLAYERS</th>
            <th data-sort="points">POINTS</th>
            {% if zeroadmin %}
            <th data-sort="hidden">HIDDEN</th>
            <th data-sort="active">ACTIVE</th>
            {% endif %}
        </tr>
    </thead>
    <tbody id="table-body">
        {% for team in teams %}
            {% if team.team_is_active and not team.team_is_hidden and not zeroadmin %}
                <tr class="table-light">
                    {% if loop.index != 1 %}
                    <td>{{ loop.index }}</td>
                    {% else%}
                    <td><img src="{{ url_for('static', filename='svg/trophy-fill.svg') }}"></td>
                    {% endif %}
                    <td>{{ team.teamname }}</td>
                    <td>{{ team.members|count }}</td>
                    <td>{{ team.score }}</td>
                </tr>
            {% elif zeroadmin %}
                <tr class="{% if team.team_is_hidden or not team.team_is_active %}table-info{% else %}table-light{% endif %}">
                    {% if loop.index != 1 %}
                    <td>{{ loop.index }}</td>
                    {% else%}
                    <td><img src="{{ url_for('static', filename='svg/trophy-fill.svg') }}"></td>
                    {% endif %}
                    <td>{{ team.teamname }}</td>
                    <td>{{ team.members|count }}</td>
                    <td>{{ team.score }}</td>
                    <td>{{ team.team_is_hidden }}</td>
                    <td>{{ team.team_is_active }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<script>
    const tableRows = document.querySelectorAll('#table-body tr');
    tableRows.forEach(row => {
        let teamname = row.querySelector('td:nth-child(2)').textContent.trim();
        let url = "{{ url_for('team.team_profile', team='__TEAMNAME__') }}".replace('__TEAMNAME__', encodeURIComponent(teamname));
        row.querySelectorAll('td:nth-child(-n+4)').forEach(col => {
            col.addEventListener('click', () => {
                window.location.href = url;
            });
        });
    });

    const tableHeaders = document.querySelectorAll('th[data-sort]');
    tableHeaders.forEach(header => {
        header.addEventListener('click', () => {
            const sortKey = header.getAttribute('data-sort');
            const sortDirection = header.classList.contains('sort-asc') ? -1 : 1;
            const newClassName = sortDirection === 1 ? 'sort-asc' : 'sort-desc';
            tableHeaders.forEach(header => header.classList.remove('sort-asc', 'sort-desc'));
            header.classList.add(newClassName);
            const sortedRows = Array.from(tableRows).sort((a, b) => {
                const aVal = a.querySelector(`td:nth-child(${getSortIndex(sortKey)})`).textContent.trim();
                const bVal = b.querySelector(`td:nth-child(${getSortIndex(sortKey)})`).textContent.trim();
                return sortDirection * (aVal.localeCompare(bVal, undefined, {numeric: true, sensitivity: 'base'}));
            });
            sortedRows.forEach(row => row.parentNode.appendChild(row));
        });
    });

    function getSortIndex(sortKey) {
        switch (sortKey) {
            case 'position':
                return 1;
            case 'teamname':
                return 2;
            case 'players':
                return 3;
            case 'points':
                return 4;
            case 'hidden':
                return 5;
            case 'active':
                return 6;
            default:
                return 1;
        }
    }
</script>