{% extends "base.html" %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block go_back %}
{% include "go_back_button.html" %}
{% endblock %}

{% block page_title %}
{% include "page_title.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row d-flex justify-content-center">
        {% include "users/profile_card.html" %}
        {% include "charts/position_cards.html" %}
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="row d-flex justify-content-center">
        {% include "challenges/challenge_list.html" %}
    </div>
</div>

{% if challenges|count > 0 %}
<div class="container-fluid mt-4">
    <div class="row d-flex justify-content-center">
        {% include "users/solved.html" %}
    </div>
</div>
{% endif %}

{% endblock %}